
h1 {
    text-align: center;
    color: white;
    background-color: #008000;
    font-family: Arial;
    font-size: 50;
    img_src=KNUT.jpeg;
    padding-bottom: 25px;
    padding-top: 25px;
    header-border: black;
    }

html, body {
              margin: 30px;
              align: center;
            }

table{
        font-weight: lighter;
        font-family: Arial;
        text-shadow: light;
        header-align: center;
        width: 100%;
        }

th{
    text-align: center;
    background-color: #008000;
    color: white;

    }

td{
    height: 35px;
    vertical-align: center;
    text-align: center;
    }

tr:hover{
          background-color: #00FF7F;
    }

.logo{
      align-items: center;
    }





